appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.7.0
Brotli==1.1.0
lz4==4.0.2
markdown-it-py==3.0.0
matplotlib==3.6.3
numpy==1.26.4
pandas==2.2.2
requests==2.31.0
rich==13.7.1
scipy==1.11.4
streamlit==1.40.0